body {
    padding: 20px;
    margin: 5px;
}

img {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: contain;
    background-color: blue;
}

p {
    display: block;
    width: 100%;
    text-align: center;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;
}

h3 {
    display: block;
    width: 100%;
    text-align: center;
}