body {
    padding: 20px;
    margin: 5px;
}

img {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-size: contain;
    background-color: blue;
}

p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', 'Source Code Pro', monospace;
    font-weight: 500;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', 'Source Code Pro', monospace;
    font-weight: 700;
}

h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', 'Source Code Pro', monospace;
    font-weight: 600;
}